*{ 
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}     

body{
    background-image: url(/images/loginn.png);
}

.header img{
    width: 100%; 
}

.registerBlock{
    color: white;
    width: 480px;
    height: 600px;
    background-color: rgba(21, 134, 187, 0.612);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle{
    text-align: center;
}


.paddingBlock{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
}

.inputs{
    display: flex;
    flex-direction: column;
    
}

::placeholder{
    color: black;
}

.inputs input{
    background-color:#ffffff ;
    border: none;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    padding: 5px;
    height: 50px;
    font-size: 19px;
    border-radius: 7px;
    color: rgb(0, 0, 0);
}

.buttons button{
    width: 100%;
    height: 35px;
    border-radius: 4px;
}

.footer{
    color: black  ;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button{
    width:100% ;
    height: 35px;
    background-color: #ff5d22;
    color: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.checkboxBlock{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.checkbox a{
    font-size: 20px;
    text-decoration: underline;
    color: white;


}
